{% extends 'base.html.twig' %}

{% block title %}Employe{% endblock %}

{% block body %}
    <h1>Employe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employe.id }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ employe.cin }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employe.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ employe.prenom }}</td>
            </tr>
            <tr>
                <th>Img_employe</th>
                <td>{{ employe.imgEmploye }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employe_index') }}">back to list</a>

    <a href="{{ path('app_employe_edit', {'id': employe.id}) }}">edit</a>

    {{ include('employe/_delete_form.html.twig') }}
{% endblock %}
