{% extends 'base2.html.twig' %}

{% block title %}Employe{% endblock %}

{% block body %}
 <div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span9">
					<div class="content">	

    <h1>Employe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employe.id }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ employe.cin }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employe.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ employe.prenom }}</td>
            </tr>
            <tr>
                <th>Img_employe</th>
               <td><img src="{{ asset('B/media/' ~ employe.imgEmploye) }}?t={{ date().getTimestamp() }}" alt="Employe image"  width = "10%"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employe_index') }}">back to list</a>

    <a href="{{ path('app_employe_edit', {'id': employe.id}) }}">edit</a>

    {{ include('employe/_delete_form.html.twig') }}
    
							</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->
{% endblock %}
