{% extends 'baseB.html.twig' %}



{% block title %}Catégories{% endblock %}

{% block body %}
<style>
		#cours-table {
            background-color: #f2f2f2;
            border-collapse: collapse;
            border: 3px solid #002a80 !important;
            font-family: Arial, sans-serif;
            width: 100%;
        }

        #cours-table th, #cours-table td {
            padding: 8px;
            text-align: left;
            border-bottom: 3px solid #004C99 !important;
            border-right: 3px solid #004C99 !important;
        }

        #cours-table th {
            background-color: #004C99 !important;
            color: white;
        }

        #cours-table tr:last-child td {
            border-bottom: none;
        }
    </style>							
			  
									
			 
    <div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span9">
                <div class="content">
                                    <h3> Nos Categories </h3>
                                

                                {#rechercher#}
<form class="d-flex align-items-center col-12 col-md-8 col-lg-3">
               <span class="position-absolute pl-3 search-icon">
                <i class="fe fe-search"></i>
              </span>
<input type="search" id="myInput" class="form-control pl-6" placeholder="Search Produit" />
          
            </form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
              <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{#rechercher#}

                                
                                <div class="module-body table">
                                    <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display"
                                        width="100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                Id
                                                </th>
                                                <th>
                                                Nom
                                                </th>
                                               
                                                <th>
                                                   Image
                                                </th>
                                                <th>
                                                  Modifier
                                                </th>
                                                <th>
                                                   supprimer
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="myTable">
                                        {% for i in Categorie  %}
                                            <tr class="odd gradeX">
                                            <td>{{i.id}} </td>
                                                  <td>{{i.nom}} </td>
                                               
                                                <td class="center">
                                                 <img src="{{ asset('/media/' ~ i.image) }}?t={{ date().getTimestamp() }}" alt="image"  width = "10%">
                                                </td>
                                                 <td>
                                                 <a class="btn btn-success" href="{{ path('updateCat', {id:i.ID}) }}">Update </a>
                                                </td>
												
												
												
                                                 <td>
                                                    <a class="btn btn-danger" href="{{ path('deleteCat', {id:i.ID}) }}">Delete </a>
                                                </td>
                                            </tr>
                                            
                                        </tfoot>
                                        
									 {% endfor %}
                                    </table>
                                     <a href="{{ path('CategorieAdd') }}" class="btn btn-primary mr-2">Ajouter une catégorie</a>
                          
                                </div>
                            </div>			
						
					
					





						
				
					{% endblock %}
								
































