{% extends 'base2.html.twig' %}

{% block title %}Conge index{% endblock %}

{% block body %}

    
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span9">
					<div class="content">	 
    <h1>Conge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateD</th>
                <th>DateF</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conge in conges %}
            <tr>
                <td>{{ conge.id }}</td>
                <td>{{ conge.dateD ? conge.dateD|date('Y-m-d') : '' }}</td>
                <td>{{ conge.dateF ? conge.dateF|date('Y-m-d') : '' }}</td>
                <td>{{ conge.type }}</td>
                <td>
                    <a href="{{ path('app_conge_show', {'id': conge.id}) }}">show</a>
                    <a href="{{ path('app_conge_edit', {'id': conge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_conge_new') }}">Create new</a>



   							</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->
	  
{% endblock %}
