<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
       
	   {% block stylesheets %}
	   
	     <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
	   
		<link type="text/css" href="{{asset('/B/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link type="text/css" href="{{asset('/B/bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet">
        <link type="text/css" href="{{asset('/B/css/theme.css')}}" rel="stylesheet">
        <link type="text/css" href="{{asset('/B/images/icons/css/font-awesome.css')}}" rel="stylesheet">
        <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
            rel='stylesheet'>
			
		  <link href="{{asset('/B/css/style.css')}}" rel="stylesheet">	
			
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
		
		  <!-- Libraries JS Files -->
  <script src="{{asset('/B/libraries/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('/B/libraries/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('/B/libraries/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{asset('/B/libraries/php-email-form/validate.js')}}"></script>
  <script src="{{asset('/B/libraries/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{asset('/B/libraries/counterup/counterup.min.js')}}"></script>
  <script src="{{asset('/B/libraries/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{asset('/B/libraries/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('/B/libraries/venobox/venobox.min.js')}}"></script>
  <script src="{{asset('/B/libraries/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset("assets/B/js/main.js")}}" ></script>
		
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
	
	
    <body>
	        {% block header %}
			
			
			
			
			
			
				<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
					<i class="icon-reorder shaded"></i>
				</a>

			  	<a class="brand" href="index.html">
			  		Edmin
			  	</a>

				<div class="nav-collapse collapse navbar-inverse-collapse">
				

					<form class="navbar-search pull-left input-append" action="#">
						<input type="text" class="span3">
						<button class="btn" type="button">
							<i class="icon-search"></i>
						</button>
					</form>
				
					<ul class="nav pull-right">
						
						
						
						
						                 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                                <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Item No. 1</a></li>
                                    <li><a href="#">Don't Click</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Example Header</li>
                                    <li><a href="#">A Separated link</a></li>
                                </ul>
                            </li>
						
						
						<li><a href="{{ path('app_logout') }}">Logout</a></li>
						
						<li class="nav-user dropdown">
							<a  class="dropdown-toggle" data-toggle="dropdown">
								<img src="/B/media/user1.png" class="nav-avatar" />
								<b class="caret"></b>
								{% if app.user %}
								{{ app.user.prenom }}
								{% endif %}
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Your Profile</a></li>
								<li><a href="#">Edit Profile</a></li>
								<li><a href="#">Account Settings</a></li>
								<li class="divider"></li>
								<li><a href="{{ path('app_logout') }}">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.nav-collapse -->
			</div>
		</div><!-- /navbar-inner -->
	</div><!-- /navbar -->
			
			
			
			
			
			
			
			
							<div class="span3">
					<div class="sidebar">

						<ul class="widget widget-menu unstyled">
                                <li><a href="{{ path('app_user_index') }}"><i class="menu-icon icon-bold"></i> Utilisateur </a></li>
                                <li><a href="{{ path('app_reclamation_index') }}"><i class="menu-icon icon-bar-chart"></i>Reclamation </a></li>
                                <li><a href=""><i class="menu-icon icon-book"></i>Article </a></li>
                                <li><a href=""><i class="menu-icon icon-paste"></i>Sujet </a></li>
                                <li><a href="table.html"><i class="menu-icon icon-table"></i>Produit </a></li>
                                <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Exercice </a></li>
                                <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Cour </a></li>
                                <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Categorie </a></li>
                                <li><a href=""><i class="menu-icon icon-bar-chart"></i>Employee </a></li>
                                <li><a href=""><i class="menu-icon icon-bar-chart"></i>Conge </a></li>
                                <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Commande </a></li>
                                <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Livraison </a></li>								
                            </ul><!--/.widget-nav-->



				

					</div><!--/.sidebar-->
				</div><!--/.span3-->
			
			
			
			
			<!--/header-->
			{% endblock %}
	
	
	
        {% block body %}
		
		{% endblock %}
    
	</body>
	
</html>
