<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

            <!-- Favicons -->
            <link href="img/favicon.png" rel="icon">
            <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


            <link type="text/css" href="{{asset('/B/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
            <link type="text/css" href="{{asset('/B/bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet">
            <link type="text/css" href="{{asset('/B/css/theme.css')}}" rel="stylesheet">
            <link type="text/css" href="{{asset('/B/images/icons/css/font-awesome.css')}}" rel="stylesheet">
            <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
                  rel='stylesheet'>

            <link href="{{asset('/B/css/style.css')}}" rel="stylesheet">

        {% endblock %}

        {% block javascripts %}
            <!-- Libraries JS Files -->
            <script src="{{asset('/B/libraries/jquery/jquery.min.js')}}"></script>
            <script src="{{asset('/B/libraries/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
            <script src="{{asset('/B/libraries/jquery.easing/jquery.easing.min.js')}}"></script>
            <script src="{{asset('/B/libraries/php-email-form/validate.js')}}"></script>
            <script src="{{asset('/B/libraries/waypoints/jquery.waypoints.min.js')}}"></script>
            <script src="{{asset('/B/libraries/counterup/counterup.min.js')}}"></script>
            <script src="{{asset('/B/libraries/owl.carousel/owl.carousel.min.js')}}"></script>
            <script src="{{asset('/B/libraries/isotope-layout/isotope.pkgd.min.js')}}"></script>
            <script src="{{asset('/B/libraries/venobox/venobox.min.js')}}"></script>
            <script src="{{asset('/B/libraries/aos/aos.js')}}"></script>

            <!-- Template Main JS File -->
            <script src="{{asset('/B/js/main.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
