<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="Activitar Template">
        <meta name="keywords" content="Activitar, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="{{ asset('/F/data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
       

	   {% block stylesheets %}
            <!-- Css Styles -->
            <link rel="stylesheet" href="{{ asset('/F/css/bootstrap.min.css') }}" type="text/css">

            <link rel="stylesheet" href="{{ asset('/F/css/font-awesome.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('/F/css/elegant-icons.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('/F/css/nice-select.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('/F/css/owl.carousel.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('/F/css/magnific-popup.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('/F/css/slicknav.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('/F/css/style.css') }}" type="text/css">
       
			  {{ encore_entry_link_tags('app') }}
	   {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('/F/js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('/F/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('/F/js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('/F/js/mixitup.min.js') }}"></script>
            <script src="{{ asset('/F/js/jquery.nice-select.min.js') }}"></script>
            <script src="{{ asset('/F/js/jquery.slicknav.js') }}"></script>
            <script src="{{ asset('/F/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('/F/js/masonry.pkgd.min.js') }}"></script>
            <script src="{{ asset('/F/s/main.js') }}"></script>
			
			  {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <!-- Page Preloder -->
    

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="container-fluid">
            <div class="logo">
                <a href="./index.html">
                    <img src="img/logo.png" alt="">
                </a>
            </div>

            <div class="top-social">
			{% if app.user %}
                <a href="{{ path('app_user_show', {'id': app.user.id}) }} ">  <i class="fa fa-user"></i>  hello {{ app.user.prenom }}  </a>
				<img src="{{ asset('/media/' ~ app.user.imgUsr) }}?t={{ date().getTimestamp() }}" alt="Employe image"   width="50" height="50"  style="border-radius: 60%"
                  title="Image D'employe">
				
				
				{% endif %}
            </div>



            <div class="container">
    
	<div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li class="active"><a href="{{ path('app_home') }}">Home</a></li>
                            <li><a href="./about-us.html">Articles</a></li>
                            <li><a href="./schedule.html">Products</a></li>
                            <li><a href="./gallery.html">Exercise</a></li>
							 <li><a href="./contact.html">Trainers</a></li>
							 
                            <li>      <a href="#">             Account </a>
                                <ul class="dropdown">
								
									
									{% if app.user  == false %}
                                    <li><a href="{{ path('app_login') }}">Sign in	<i class="fa fa-sign-in" aria-hidden="true"></i> </a></li>
                                    <li><a href="{{ path('app_register') }}">Sign up  <i class="fa fa-id-card" aria-hidden="true"></i>  </a></li>
									{% endif %}
									
									
									    {% if app.user %}
										<li>   <a href="{{ path('app_logout') }}"   class="primary-btn price-btn" > Logout 
										<i class="fa fa-sign-out" aria-hidden="true"></i> </a>     
										</li>

										<li> <a href=""   > Cart <i class="fa fa-cart-plus"></i> </a>  </li>
										<li> <a href="{{ path('app_reclamation_new') }}"   > Reclamation 	<i class="fa fa-bullhorn" ></i> </a>  </li>
										
										{% endif %}
									
									
									
									
                                </ul>
                            </li>
                           
                        </ul>
                    </nav>
                </div>
	
	
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>

        {% block body %}{% endblock %}
    </body>
</html>
