
{% extends 'baseB.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    
                   </br> <p class="card-description"> <h3> Ajouter un produit </h3> </p>
                    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                    {{ form_start(formProduit , {'attr': {'novalidate':'novalidate'} }) }}
                    

                    
    
                    <form class="forms-sample">
                    <div
					<div class="form-group">
                        {{ form_row(formProduit.nom, {'label':'Nom :' ,'attr':{'placeholder': 'Type something here…', 'class':'form-control'}}) }}</div>
                      <div class="form-group">
                      {{ form_row(formProduit.brand, {'label':'Marque :' ,'attr':{'placeholder': 'Type something here…', 'class':'form-control'}}) }}</div>
						<div class="form-group">
                        {{ form_row(formProduit.description, {'label':' Description :' ,'attr':{'placeholder': 'Type something here…', 'class':'form-control'}}) }}</div>
						<div class="form-group">
                        {{ form_row(formProduit.prix, {'label':'Prix :' ,'attr':{'placeholder': 'Type something here…', 'class':'form-control'}}) }}</div>
						<div class="form-group">
                        {{ form_row(formProduit.image, {'label':'Image :' ,'attr':{'placeholder': 'Type something here…', 'class':'form-control'}}) }}</div>
					
                        {{ form_row(formProduit.Categories, {'label':'Categorie :' ,'attr':{'placeholder': 'Type something here….', 'class':'form-control'}}) }}
						
						
                    
					 
                      <button type="submit" class="btn btn-primary mr-2" >Ajouter</button> <span>  <a href="{{ path('afficher') }}" class="btn btn-primary mr-2">Annuler</a>
                      </div>
                       </div>
                      {{ form_end(formProduit) }}
                      </div>
                    </div>
                </div>
            </div>
           

			  {%endblock%}