{% extends 'baseF.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
 <!-- About Section Begin -->
    <section class="home-about spad">
        <div class="container">
       <div class="row">
              <div class="col-lg-6">
                    <div class="about-text">
                     <h1> <p class="short-details"> {{Produit.nom}}  </p> </h1>
                        <p class="short-details"> Catégorie : {{Produit.Categories}}</p>
                        <p class="short-details"> Marque : {{Produit.brand}}</p>
                        <p class="long-details"> Description : {{Produit.description}}</p>
                      <p class="short-details"> Prix : {{Produit.prix}}</p>
                    </div>
                     <a href="#" class="primary-btn">Acheter</a>
                </div>
             
                <div class="col-lg-6">
                    <div class="about-img">
                         <img src="{{ asset('/uploads/produit/' ~ Produit.image) }}?t={{ date().getTimestamp() }}" alt="image"  width = "10%">
                           
                    </div>
                     </div>
                      </div>
<div class="grix xs2 sm3 gutter-0 card">
			<div class="col-xs2 col-sm3">
				<h2>Liste des commentaires</h2>
				{% for comment in Produit.comments %}
					{% if comment.parent == null %}
						<h3>Commentaire de {{comment.nickname}}</h3>
						<p>Publié le {{comment.createdAt|date("d/m/Y H:i") }}</p>
						<div>{{comment.content|raw}}</div>
						<p><a href="#ajout-commentaire" data-reply data-id="{{comment.id}}" class="btn primary ">Répondre</a></p>

						{# On affiche les réponses #}
						{% for reply in comment.replies %}
							<p>Réponse publiée par {{reply.nickname}} le {{reply.createdAt|date("d/m/Y H:i") }}</p>
							<div>{{reply.content|raw}}</div>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-xs2 col-sm3" id="ajout-commentaire">
				<h2>Ajouter un commentaire</h2>
				{{ form_start(commentForm) }}
				    {{ form_row(commentForm.email) }}
				    {{ form_row(commentForm.nickname) }}
                    
                    <div id="editor"></div>
				{{ form_end(commentForm) }}
			</div>
		</div>
	</div>
                </div>
                    
                      <a href="{{ path('app_front') }}"> <--Retourner à la liste des produits</a>
            </div>
      
        </div>
    </section>
    <!-- About Section End -->
    {% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('ckeditor5/ckeditor.js') }}"></script>
    <script src="{{ asset('js/ckeditor.js') }}"></script>
	<script>
		window.onload = () => {
			document.querySelector("#annonce_contact_title").value = "{{ annonce.title|raw }}";
			// On met un écouteur d'évènements sur tous les boutons répondre
			document.querySelectorAll("[data-reply]").forEach(element => {
				element.addEventListener("click", function(){
					document.querySelector("#comments_parentid").value = this.dataset.id;
				});
			});
		}
		let caroulix = new Caroulix('#carousel');
		let modal = new Modal('#modale-contact');
	</script>
{% endblock %}


