{% extends 'base2.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<style>
.button {
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #004C99;} /* bord */
.button2 {background-color: #000066;} /* Blue */
.button3 {background-color: #99004C;} /* ahmer */
</style>


           

	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span9">
					<div class="content">	




    <h1>Article index</h1>
     
    <a href="{{ path('app_article_new') }}"class="btn btn-primary">Create new</a>
     <a href="{{ path('app_article_tri_titre') }}"class="btn btn-primary">Trier avec titre</button></a>
    <a href="{{ path('app_article_stats') }}" class="btn btn-primary">Statistiques</a>
    <form class="d-flex align-items-center col-12 col-md-8 col-lg-3">
               <span class="position-absolute pl-3 search-icon">
                <i class="fe fe-search"></i>
              </span>
<input type="search" id="myInput" class="form-control pl-6" placeholder="Search" />
          
            </form>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
              <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
   







    <table cellpadding="0"  class="table table-responsive-xl"
                                        width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Descripton</th>
                <th>ImgArticle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.auteur }}</td>
                <td>{{ article.descripton }}</td>
                
                   <td><img src="{{ asset('B/media/' ~ article.imgArticle) }}?t={{ date().getTimestamp() }}" alt="Sujet image"  width = "30%">  </td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                    
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


	
	
	
	
	
	
	
	
	
						</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->
		
	
	
	
	
	
	
{% endblock %}
