{% extends 'base2.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}



	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span9">
					<div class="content">
							<div class="container">	





    <h1>User index</h1>


    <a href="{{ path('app_user_new') }}">Create new</a>
<br/>
<br/>




    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>

                <th>Nom</th>
                <th>Prenom</th>
                <th>Phone</th>
                <th>Adres</th>
                <th>Dateins</th>
                <th>DateD</th>
                <th>DateF</th>
                <th>ImgUsr</th>
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.adres }}</td>
                <td>{{ user.dateins ? user.dateins|date('Y-m-d') : '' }}</td>
                <td>{{ user.dateD ? user.dateD|date('Y-m-d') : '' }}</td>
                <td>{{ user.dateF ? user.dateF|date('Y-m-d') : '' }}</td>
                
				
				
				
				  <td><img src="{{ asset('media/' ~ user.imgUsr ) }}?t={{ date().getTimestamp() }}" alt="user image"   width="50" height="50"
                  title="Image D'utilisateur"></td>
				
				
				
				
				
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_user_show2', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit2', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


	
	
	
	
										</div>
								</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->
	
	
	
	{% else %}


	<h1> Login to see this page </h1>

{% endif %}
	
	
	
	
	
{% endblock %}
