{% extends 'baseBack.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}

    <a href="{{ path('app_commande_new', {'idC':app.request.get('idC')}) }}" class="btn btn-primary">ajout</a>
    <form class="d-flex align-items-center col-12 col-md-8 col-lg-3">
               <span class="position-absolute pl-3 search-icon">
                <i class="fe fe-search"></i>
              </span>
        <input type="search" id="myInput" class="form-control pl-6" placeholder="Search Commande"/>

    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <table class="table">
        <thead>
        <tr>
            <th>user</th>
            <th>date</th>
            <th>statue</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.user }}</td>
                <td>{{ commande.date  | date }}</td>
                <td>{{ commande.statue }}</td>
                <td>
                    <form method="post" action="{{ path('app_commande_delete', {'idC': commande.idC}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.idC) }}">
                        <button class="btn btn-danger">delete</button>
                    </form>
                    <a class="btn btn-success" href="{{ path('app_commande_edit', {'idC': commande.idC}) }}">edit</a>
                    <a class="btn btn-warning"
                       href="{{ path('app_commande_item_index_commande', {'idC': commande.idC}) }}">items</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
