{% extends 'baseBack.html.twig' %}

{% block title %}CommandeItem index{% endblock %}



    {% block body %}
        <table class="table">
            <thead>
            <tr>
                <th>quantité</th>
                <th>produit band</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for commande_item in commande_items %}
                <td>{{ commande_item.quantity }}</td>
                <td>{{ commande_item.produit.brand }}</td>
                <td>
                    <form method="post" action="{{ path('app_commande_item_delete', {'id': commande_item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande_item.id) }}">
                        <button class="btn btn-danger" >Delete</button>
                    </form>
                    <a class="btn btn-success" href="{{ path('app_commande_item_edit', {'id': commande_item.id}) }}">edit</a>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}


