{% extends 'base.html.twig' %}

{% block title %}Sujet{% endblock %}

{% block body %}
    <h1>Sujet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sujet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sujet.nom }}</td>
            </tr>
            <tr>
                <th>Descr</th>
                <td>{{ sujet.descr }}</td>
            </tr>
            <tr>
                <th>ImgSujet</th>
                 <td><img src="{{ asset('B/media/' ~ sujet.imgSujet) }}?t={{ date().getTimestamp() }}" alt="Sujet image"  width = "30%">  </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sujet_index') }}">back to list</a>

    <a href="{{ path('app_sujet_edit', {'id': sujet.id}) }}">edit</a>

    {{ include('sujet/_delete_form.html.twig') }}
{% endblock %}
