{% extends 'base2.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}






	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span9">
					<div class="content">
							<div class="container">	







    <h1>Reclamation index</h1>



<br/>
<br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.titre }}</td>
                <td>{{ reclamation.desipticon }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('app_reclamation_delete', {'id': reclamation.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


	
	
	
	
	
	
		
									</div>
								</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->
	
	
	
	
	
	
	
{% endblock %}
