{% extends 'base2.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}


	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span9">
					<div class="content">
							<div class="container">	
					


    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ reclamation.titre }}</td>
            </tr>
            <tr>
                <th>Desipticon</th>
                <td>{{ reclamation.desipticon }}</td>
            </tr>
        </tbody>
    </table>





<br/>
<br/>

    {{ include('reclamation/_delete_form.html.twig') }}
	
<br/>
	
	    <a href="{{ path('app_reclamation_index') }}">back to list</a>
	
	
												</div>
								</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->
	
	
	
	
{% endblock %}
