{% extends 'baseF.html.twig' %}

{% block title %}Produit{% endblock %}


{% block body %}
 
 <section class="trainer-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2> <a href="{{ path('app_front') }}">NOS PRODUITS </a>  |  <a href="{{ path('afficherFrontCat') }}">Catégorie</a> </h2>                     <a href="{{ path('app_front') }}"><--Retourner à la liste des produits</a>
                      
                     
                    </div>
                </div>
            </div>
             
            <div class="row">
             {% for i in Categorie %}
                <div class="col-lg-3 col-sm-6">
                
                    <div class="trainer-item">
                        <div class="ti-pic">
                            <img src="{{ asset('/uploads/categorie/' ~ i.image) }}?t={{ date().getTimestamp() }}" alt="image"  width = "10%">
                           
                            <div class="trainer-text">
                               
                               <a href="{{ path('category_articles' ,{id:i.id}) }}" class="primary-btn cta-btn"><h5>{{i.nom}}</h5></a>
                              
                            </div>
                            
                         
                        </div>
                           <br/>   
                    </div>
                    
                </div>
              
                  {% endfor%}
                
                    </div>
                </div>
            </div>
        </div>
    </section>








         
    




  
		
{% endblock %}

{% block footer %}

{% endblock %}

