
     <style>
/* Base button style */
.btn2 {
  display: inline-block;
  padding: 9px 80px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  margin: 4px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Button hover style */
.btn2:hover {
  background-color: #0062cc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Button active style */
.btn2:active {
  background-color: #005cbf;
  box-shadow: none;
}

/* Button disabled style */
.btn2:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

</style>

{{ form_start(form) }}
    {{ form_widget(form) }}
     {% if form_errors(form) %}
      <div class="alert alert-danger">
          {{ form_errors(form) }}
          
            
          {{form_widget(form.captcha) }}

      </div>
      
  {% endif %}
  


    <button class="btn2 btn2-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
