{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}



	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span9">
					<div class="content">








    <table class="table">
        <tbody>

            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>


            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Adres</th>
                <td>{{ user.adres }}</td>
            </tr>
            <tr>
                <th>Dateins</th>
                <td>{{ user.dateins ? user.dateins|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateD</th>
                <td>{{ user.dateD ? user.dateD|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateF</th>
                <td>{{ user.dateF ? user.dateF|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ImgUsr</th>
                <td>{{ user.imgUsr }}</td>
            </tr>

        </tbody>
    </table>
    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

{% endblock %}
